public-f net.minecraft.world.level.levelgen.feature.StructureFeature f_67031_ #LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ #DEFAULT_STRUCTURE_CONFIGS
public-f net.minecraft.world.level.levelgen.flat.FlatLevelGeneratorSettings f_70349_ #STRUCTURES
public-f net.minecraft.world.level.levelgen.StructureSettings f_64582_ #structures
public-f net.minecraft.world.item.DiggerItem f_40982_ # toolAttributes
public-f net.minecraft.world.item.ArmorItem f_40383_
public-f net.minecraft.world.item.SpawnEggItem f_43202_ # primaryColor
public-f net.minecraft.world.item.SpawnEggItem f_43203_ # secondaryColor
public net.minecraft.world.item.alchemy.PotionBrewing m_43513_(Lnet/minecraft/world/item/alchemy/Potion;Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/alchemy/Potion;)V # addMix
public net.minecraft.world.entity.LivingEntity f_20898_ # lastDamage
protected net.minecraft.client.renderer.entity.player.PlayerRenderer m_117794_(Lnet/minecraft/client/player/AbstractClientPlayer;Lnet/minecraft/world/InteractionHand;)Lnet/minecraft/client/model/HumanoidModel$ArmPose; # func_241741_a_
public net.minecraft.client.model.geom.ModelPart f_104208_ # textureWidth
public net.minecraft.client.model.geom.ModelPart f_104209_ # textureHeight
public net.minecraft.client.model.geom.ModelPart f_104210_ # textureOffsetX
public net.minecraft.client.model.geom.ModelPart f_104211_ # textureOffsetY
public net.minecraft.client.model.geom.ModelPart f_104212_ # cubeList
public net.minecraft.client.model.geom.ModelPart f_104213_ # childModels
public-f net.minecraft.client.model.PlayerModel f_103374_ # bipedLeftArmwear
public-f net.minecraft.client.model.PlayerModel f_103375_ # bipedRightArmwear
public-f net.minecraft.client.model.PlayerModel f_103376_ # bipedLeftLegwear
public-f net.minecraft.client.model.PlayerModel f_103377_ # bipedRightLegwear
public-f net.minecraft.client.model.PlayerModel f_103378_ # bipedBodyWear
public-f net.minecraft.client.model.PlayerModel f_103373_ # bipedCape
public-f net.minecraft.client.model.PlayerModel f_103379_ # bipedDeadmau5Head
public-f net.minecraft.client.renderer.entity.layers.ElytraLayer f_116935_ # modelElytra
protected net.minecraft.client.model.ElytraModel f_102532_ # rightWing
protected net.minecraft.client.model.ElytraModel f_102533_ # leftWing
protected net.minecraft.client.renderer.entity.layers.ParrotOnShoulderLayer m_117317_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;ILnet/minecraft/world/entity/player/Player;FFFFZ)V # renderParrot
public net.minecraft.client.renderer.ItemInHandRenderer m_109371_(Lnet/minecraft/client/player/AbstractClientPlayer;FFLnet/minecraft/world/InteractionHand;FLnet/minecraft/world/item/ItemStack;FLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;I)V # renderItemInFirstPerson
public net.minecraft.client.renderer.ItemInHandRenderer m_109346_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IFFLnet/minecraft/world/entity/HumanoidArm;)V # renderArmFirstPerson
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFireInfo
public net.minecraft.world.item.SpawnEggItem f_43201_ # EGGS
public-f net.minecraft.client.model.geom.ModelPart # ModelPart
public net.minecraft.world.entity.ai.goal.target.HurtByTargetGoal f_26036_ # toIgnoreAlert
# Matrix3f values
public com.mojang.math.Matrix3f f_8134_ # m00
public com.mojang.math.Matrix3f f_8135_ # m01
public com.mojang.math.Matrix3f f_8136_ # m02
public com.mojang.math.Matrix3f f_8137_ # m10
public com.mojang.math.Matrix3f f_8138_ # m11
public com.mojang.math.Matrix3f f_8139_ # m12
public com.mojang.math.Matrix3f f_8140_ # m20
public com.mojang.math.Matrix3f f_8141_ # m21
public com.mojang.math.Matrix3f f_8142_ # m22
# Matrix4f values
public com.mojang.math.Matrix4f f_27603_ # m00
public com.mojang.math.Matrix4f f_27604_ # m01
public com.mojang.math.Matrix4f f_27605_ # m02
public com.mojang.math.Matrix4f f_27606_ # m03
public com.mojang.math.Matrix4f f_27607_ # m10
public com.mojang.math.Matrix4f f_27608_ # m11
public com.mojang.math.Matrix4f f_27609_ # m12
public com.mojang.math.Matrix4f f_27610_ # m13
public com.mojang.math.Matrix4f f_27611_ # m20
public com.mojang.math.Matrix4f f_27612_ # m21
public com.mojang.math.Matrix4f f_27613_ # m22
public com.mojang.math.Matrix4f f_27614_ # m23
public com.mojang.math.Matrix4f f_27615_ # m30
public com.mojang.math.Matrix4f f_27616_ # m31
public com.mojang.math.Matrix4f f_27617_ # m32
public com.mojang.math.Matrix4f f_27618_ # m33